* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-block: 8px;
    background-color: rgb(176, 238, 228);
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgb(214, 255, 248);
}

.galeria img {
    width: 100%;
    padding-block: 8px;

}

figure {
    border: thin #a4fdff solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 100%;
    margin: auto;
  }
    
  figcaption {
    margin-top: -10px;
    background-color: #97fff3;
    color: #008a76;
    font: italic smaller sans-serif;
    font-size: 1rem;
    padding: 7px;
    text-align: center

  }

  .galeria figcaption {
    color: rgb(0, 152, 179);
  }
  