* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-block: 8px;
    background-color: rgb(176, 238, 228);
}

.galeria {
    width: auto;
    display: columns;
    columns: 3;
    background-color: rgb(214, 255, 248);
}

.galeria img {
    width: 100%;
    padding-block: 8px;

}

figure {
    border: thin #a4fdff solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 80%;
    margin: auto;
  }
  
  img {
    width: 100%;
    padding-block: 8px;
  }
  
  figcaption {
    margin-top: 0px;
    background-color: #97fff3;
    color: #008a76;
    font: italic smaller sans-serif;
    font-size: 1rem;
    padding: 5px;
    text-align: center

  }
  